// Angular Material Theming
@use '@angular/material' as mat;

@include mat.core();

$AgularDjango-primary: mat.define-palette(mat.$indigo-palette);
$AgularDjango-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$AgularDjango-warn: mat.define-palette(mat.$red-palette);

$AgularDjango-theme: mat.define-light-theme((
  color: (
    primary: $AgularDjango-primary,
    accent: $AgularDjango-accent,
    warn: $AgularDjango-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($AgularDjango-theme);

// Nebular Theme
// @use  '~@nebular/theme/styles/theming';
// @use  '~@nebular/theme/styles/themes/default';
// @use  '~@nebular/theme/styles/themes/dark';

// Tailwind CSS
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Global Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

nav {
  .home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    height: 50px;
    align-items: center;

    li {
      a {
        text-decoration: none;
        color: #333;
        padding: 10px;
        border-radius: 5px;
      }

      a:hover {
        background-color: #ddd;
      }

      &.active a {
        background-color: #4CAF50;
        color: white;
      }
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
